

html {
	background-color: #878480;
}


.questionsAndAnswers {
/*	background-color: grey;
*/	font-size: 130%;
	line-height: 160%;
	text-align: center;
}

.timer {
	font-size: 243%;
    padding-bottom: 12%;
    padding-top: 2%;
}

.winsAndLosses {
/*	text-align: center;
*/	padding-top: 5%;
	font-size: 341%;
}

#winOrLoseMessage {
	text-align: center;
	font-size: 500%;
	padding-top: 8%;

}

.buttonClass {
	waves-effect waves-light btn
}

h1 {
	font-weight: 50px;
}

#imgDumbledore {
    border:0;
    margin-top: 5%;
    border: 1px solid #878481;
}

button {
	    border-radius: 21px;
}